.main__container {
  height: 100vh;
  width: 100vw;

  max-width: 1512px;

  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.atm__container {
  height: 100%;
  width: 520px;
  background-color: #102542;

  display: flex;
  gap: 32px;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.diagram_container {
  height: 100%;

  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}